<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h1 th:text="${domain}"></h1>
<form action="#" th:action="@{/}" method="post">
    <table class="table">
        <thead>
        <tr>
            <th>StackName</th>
            <th>StackStatus</th>
            <th>mode</th>
            <th>CreationTime</th>
            <th>link</th>
            <th>op</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${!#lists.isEmpty(message)}" th:each="one : ${message}">
            <!--<td th:text="${one}"></td>-->
            <td>
                <span th:text="${one.stackName()}"></span>
            </td>
            <td th:text="${one.stackStatus()}"></td>
            <td th:text="${#strings.substring(one.stackName(), 1, 2) == '1' ? 'no userdata':'use userdata'}"></td>
            <td th:text="${one.creationTime()}"></td>
            <td>
                <a th:href="|http://${one.stackName()}.${domain}|"
                   th:text="|http://${one.stackName()}.${domain}|">...</a>
            </td>
            <td>
                <button class="btn btn-danger" name="delete" th:value="${one.stackName()}">delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="option1" name="userdata" class="custom-control-input" value="1" checked>
            <label class="custom-control-label" for="option1">use ansible</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="option2" name="userdata" class="custom-control-input" value="2">
            <label class="custom-control-label" for="option2">use userdata</label>
        </div>
    </div>
    <button class="btn btn-primary" name="add" value="add one">add one</button>
    <button class="btn btn-danger" name="delete" value="*">delete all</button>
</form>
<div id="list" style="max-height: 300px;overflow: auto;"></div>
<script>
    const evtSource = new EventSource("/logs");
    evtSource.onmessage = function() {
        console.log(event.data);
        const newElement = document.createElement("div");
        const eventList = document.getElementById("list");

        newElement.textContent = event.data;
        eventList.appendChild(newElement);
        eventList.scrollTop = eventList.scrollHeight;
    }

</script>
</body>
</html>